// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: 'Open Sans', serif;
}
