.todos {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
}

.todos li {
  margin: 0 0 5px;
}

.todos .done {
  text-decoration: line-through;
}

.filters {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
}

.filters li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.filters a {
  color: #999;
  cursor: pointer;
  font-size: 0.9em;
}

.filters .active {
  color: rgb(0, 0, 255);
  cursor: default;
}
