

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-weight: 600;

  /* text-transform: uppercase; */
  font-size: 1em;
  transition: all ease 0.3s;
  cursor: pointer;
}

.btn-sm {
  font-size: 0.7em;
  text-transform: uppercase;

  /* border-radius: 0; */
}

.btn:hover {
  background: #333;
}
